In [ ]:
1.請問 Pandas 套件最主要的貢獻是什麼?

In [ ]:
提供高效能、簡易使用的資料格式(Data Frame)讓使用者可以快速操作及分析資料，
提供兩種主要資料結構，Series與DataFrame，Series主要為建立索引的一維陣列，
處理時間序列相關的資料；DataFrame 則是用來處理結構化的資料，有列索引與欄
標籤的二維資料集、CSV等。

In [ ]:
 2.根據提供的資料集，印出他們的屬性分別為何？

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [9]:
print(df.shape)
print(df.size)
print(df.values)
print(df.index)
print(df.columns)
print(df.dtypes)
print(df["Country"].str.len())

(10, 4)
40
[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]
RangeIndex(start=0, stop=10, step=1)
Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')
Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object
0    6
1    5
2    7
3    5
4    7
5    6
6    5
7    6
8    7
9    6
Name: Country, dtype: int64